.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20 px;
  font-family: Arial, sans-serif;
}

.project {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h2 {
  margin-bottom: 10px;
}

.task {
  margin-bottom: 10px;
}

.progress-input-slider {
  width: 30%; /* Adjust the width percentage to make the input smaller */
  padding: 5px; /* Adjust the padding to make the input smaller */
  margin: 0 auto; /* Center the input horizontally within its container */
  display: block; /* Ensure the input is displayed as a block element */
}





.confirm-button {
  padding: 10px 20px;
  margin: 20px 0; 
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.confirm-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.confirm-button:hover {
  background-color: #0056b3;
}

.task.completed {
  opacity: 0.5; /* Adjust opacity as desired */
}

.project.completed {
  opacity: 0.5; /* Adjust opacity as desired */
}
